**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Mm]emoryCaptures/
**/[Uu]ser[Ss]ettings/
**/*.vs
**/x64
**/**/x64
**/**/bin
Data/
**/**/Debug
MapleStory/Assets/Scripts/FlatBuffer
