.Button-SelectChacracter {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/Button/CharacterSelect-SelectNormal');
}

.Button-SelectChacracter:hover {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/Button/CharacterSelect-SelectOver');
}

.Button-SelectChacracter:active {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/Button/CharacterSelect-SelectPressed');
}

.Button-CreateCharacter {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/Button/CharacterSelect-CreateNormal');
}

.Button-CreateCharacter:hover {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/Button/CharacterSelect-CreateOver');
}

.Button-CreateCharacter:active {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/Button/CharacterSelect-CreatePressed');
}

.Button-DeleteChacracter {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/Button/CharacterSelect-DeleteNormal');
}

.Button-DeleteChacracter:hover {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/Button/CharacterSelect-DeleteOver');
}

.Button-DeleteChacracter:active {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/Button/CharacterSelect-DeletePressed');
}

.StatusMain-Show {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/CharSelect.charInfo');
    width: 80%;
    left: 11%;
    height: 75%;
    top: 15%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    visibility: visible;
    transition-duration: 0.5s;
}

.StatusMain-Hide {
    background-image: resource('Imgs/PrevInGame/CharacterSelect/CharSelect.charInfo');
    width: 80%;
    left: 11%;
    height: 75%;
    top: 15%;
    opacity: 0;
    visibility: hidden;
    transition-duration: 1s;
}
