.CharacterList-Base {
    height: 100%;
    width: 20%;
}

.Button-AngelicBuster {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.button.12.normal.0');
}

.Button-AngelicBuster:hover {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.button.12.mouseOver.0');
}

.Button-AngelicBuster:focus {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.button.12.mouseOver.0');
}

.Button-Tanjiro {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.button.29.normal.0');
}

.Button-Tanjiro:hover {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.button.29.mouseOver.0');
}

.Button-Tanjiro:focus {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.button.29.mouseOver.0');
}

.Button-CharacterCreate {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.make.normal.0');
}

.Button-CharacterCreate:hover {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.make.mouseOver.0');
}

.Button-CharacterCreate:active {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.make.pressed.0');
}

.Button-NameCheck {
    background-image: resource('Imgs/PrevInGame/NewCharacter/NewChar.BtCheck.normal.0');
}

.Button-NameCheck:hover {
    background-image: resource('Imgs/PrevInGame/NewCharacter/NewChar.BtCheck.mouseOver.0');
}

.Button-NameCheck:active {
    background-image: resource('Imgs/PrevInGame/NewCharacter/NewChar.BtCheck.pressed.0');
}

.CharacterInfo-AngelicBuster {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.AngelicBuster');
}

.CharacterInfo-Tanjiro {
    background-image: resource('Imgs/PrevInGame/NewCharacter/RaceSelect_new.Tanjiro');
}
