.Button-Base {
    flex-grow: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 19%;
    height: 15%;
    position: absolute;
    bottom: 16%;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
}

.Button-Ok {
    background-image: resource('Imgs/PrevInGame/Common/Button/BtOk.normal.0');
}

.Button-Ok:hover {
    background-image: resource('Imgs/PrevInGame/Common/Button/BtOk.mouseOver.0');
}

.Button-Ok:active {
    background-image: resource('Imgs/PrevInGame/Common/Button/BtOk.mouseOver.0');
}

.Button-Cancel {
    background-image: resource('Imgs/PrevInGame/Common/Button/BtCancel.normal.0');
}

.Button-Cancel:hover {
    background-image: resource('Imgs/PrevInGame/Common/Button/BtCancel.mouseOver.0');
}

.Button-Cancel:active {
    background-image: resource('Imgs/PrevInGame/Common/Button/BtCancel.mouseOver.0');
}

.PopupImg-BeingUsed {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-AlreadyExistName');
}

.PopupImg-CanUseName {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-CanUseName');
}

.PopupImg-CharacterDelete {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-CharacterDelete');
}

.PopupImg-InvalidId {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-InvalidId');
}

.PopupImg-InvalidPassword {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-InvalidPassword');
}

.PopupImg-NotRegisteredId {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-NotRegisteredId');
}

.PopupImg-ReturnToFirst {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-ReturnToFirst');
}

.PopupImg-SelectChannel {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-SelectChannel');
}

.PopupImg-LoggedIn {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-AlreadyLoggedIn');
}

.PopupImg-Unknown {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-UnknownError');
}

.PopupImg-NoMoreCreateCharacter {
    background-image: resource('Imgs/PrevInGame/Notice/Notice-NoMoreCreateCharacter');
}

.PopupImg-CheckName {
    background-image: resource('Imgs/PrevInGame/WorldSelect/Check버튼을 눌러서 닉네임 사용 가능 여부를 파악해주십시오');
}
