.Button_Login-Base {
}

.Button_Login-Base:hover {
    -unity-background-image-tint-color: rgb(99, 99, 99);
}

.Button_Login-Base:active {
    -unity-background-image-tint-color: rgb(176, 176, 176);
}

.unity-base-text-field__input {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    margin: 0;
    padding: 0;
}

.unity-base-text-field__label {
    display: none;
}