.Button-Base {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    position: relative;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    background-color: rgba(188, 188, 188, 0);
    width: 100%;
    height: 40%;
}

.Button-BackToStart {
    background-image: resource('Imgs/WorldSelectTitle/Button/WorldSelect_Bt-BackToStartNormal');
}

.Button-BackToStart:hover {
    background-image: resource('Imgs/WorldSelectTitle/Button/WorldSelect_Bt-BackToStartOver');
}

.Button-BackToStart:active {
    background-image: resource('Imgs/WorldSelectTitle/Button/WorldSelect_Bt-BackToStartPressed');
}

.Button-Back {
    background-image: resource('Imgs/WorldSelectTitle/Button/WorldSelect_Bt-BackNormal');
}

.Button-Back:hover {
    background-image: resource('Imgs/WorldSelectTitle/Button/WorldSelect_Bt-BackOver');
}

.Button-Back:active {
    background-image: resource('Imgs/WorldSelectTitle/Button/WorldSelect_Bt-BackPressed');
}
